In [ ]:
!python --version

Python 3.10.12

## variable

....
- how to use
-dict
-list
-tuple


## flow controller

- if
- else if
- while
- for

## ** oop

- funtion(method)
- class
- abstraction class
- interface
- overloding/override

In [ ]:
print("Hellow piyumal")

Hellow piyumal

In [ ]:
a=10
b=10.5
c="kamal"
print(a)
print(b)
print(c)

10
10.5
kamal

In [ ]:
a=10
b=20
print(a+b)

30

In [ ]:
a=10
b="5"
print(a+b)

TypeError: ignored

In [ ]:
a=10
b="5"
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

### area calculator

area=height*width

In [ ]:
height=10
width=20
area=height*width
print("Area is : ",area)

Area is :  200

## method creation

In [ ]:
def area_calculator(height,width):
  area=height*width
  print(area)

area_calculator(50,100)

5000

In [2]:
class Students:  #class name start is capital
  print ("piyumal")

  def getAge():  #method name start is simpale
    print("24")

  getAge()  # camal case use

piyumal
24

- if / elaseif / else

In [3]:
age=10;
if age>5:
  print("he is go to school");

he is go to school

In [5]:
def check_age(age):
  if age>5:
    print("he is go to school");
  else:
    print("he is go don't to school");

check_age(4)

he is go don't to school

In [11]:
def check_age(age):
  if age>7:
    print("grade 7");
  elif age>=6:
    print("grade 6");
  elif age>5:
    print("grade 5");
  else:
    print("he is go don't to school");

check_age(4)
check_age(6)

he is go don't to school
grade 6

- # list

In [1]:
age_list=[10,20,30,40,50]
print(age_list)
print(type(age_list)) #list type

[10, 20, 30, 40, 50]
<class 'list'>

- # dict

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(type(thisdict)) #dict type

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
<class 'dict'>

- # tuple

In [4]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [31]:
sum(age_list)  #pridifine method

for i in range(age_list):
  sum+=age_list

TypeError: ignored

In [15]:
min(age_list)

10

In [16]:
max(age_list)

50

In [17]:
len(age_list)

5

In [19]:
rn=range(10)
print(rn)
print(type(rn))

range(0, 10)
<class 'range'>

In [21]:
list=(range(2))
print(list)

range(0, 2)

- # for loop

In [22]:
for eliment in age_list:
  print(eliment)

10
20
30
40
50

In [26]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [28]:
for i in range(len(age_list)):
  print(i)

0
1
2
3
4

In [30]:
for i in range(len(age_list)):
  print(age_list[i])

10
20
30
40
50

In [13]:
number=[2,9,1,4,3,2,6,5,4]

print(len(number))
for j in range(len(number)):
  for i in range(len(number)-1):
    if number[j]+number[i]>10:
     print(j,i)

9
0 1
1 0
1 1
1 3
1 4
1 5
1 6
1 7
3 1
4 1
5 1
6 1
6 6
6 7
7 1
7 6
8 1