# * method / funtion

   * args
   * kwargs

   * inner funtion

   *@ annotaion
   * exeption

In [ ]:
def print_value():
  print("values print ")

print_value()

values print

In [ ]:
def print_value(a,b):
  print("values print ")

print_value()

TypeError: ignored

In [ ]:
def print_value(a,b):
  print("values print ",a," ",b)

print_value(10,20)

values print  10   20

In [ ]:
def print_value(a=10,b=30):
  print("values print ",a," ",b)

print_value()

values print  10   30

In [ ]:
def print_value(a=10,b=30):
  print("values print ",a," ",b)

print_value(100,200)

values print  100   200

In [ ]:
def print_value(a=10,b):
  print("values print ",a," ",b)

print_value()

SyntaxError: ignored

In [ ]:
def print_value(a,b=20):
  print("values print ",a," ",b)

print_value()

TypeError: ignored

In [ ]:
def print_value(a=10,b):
  print("values print ",a," ",b)

print_value(50)

SyntaxError: ignored

In [ ]:
def print_value(a,b=90):
  print("values print ",a," ",b)

print_value(50)

values print  50   90

In [ ]:
def sum_value(a,b):
  return a+b

sum_value(5,10)

15

In [ ]:
def cal_rectangle(a,b):
  return a*b

def cal_triangle(a,b):
  return a*b/10

def area_calculator(a,b,calculator):
  area=calculator(a,b)
  print("Area : ",area," using : ",calculator)

area_calculator(10,20,cal_rectangle)
area_calculator(10,20,cal_triangle)

Area :  200  using :  <function cal_rectangle at 0x7cc2ce4948b0>
Area :  20.0  using :  <function cal_triangle at 0x7cc2ce495990>

In [ ]:
def funn_a(*args):
  print(args)

funn_a(2,4,6,85,"256")

(2, 4, 6, 85, '256')

In [ ]:
def funn_b(**kwargs):
  print(kwargs)

funn_a(2,4,6,85,"256")

(2, 4, 6, 85, '256')

In [ ]:
def funn_b(**kwargs):
  print(kwargs)

funn_b(name="piyumal",age="25")

{'name': 'piyumal', 'age': '25'}

In [ ]:
def funn_c(*args):
  print(args)

funn_c(name="piyumal",age="25")

TypeError: funn_c() got an unexpected keyword argument 'name'

In [ ]:
def funn_d(*args,**kwargs):
  print(args)
  print(kwargs)

funn_d(5,25,485,"5",name="piyumal",age="25")

(5, 25, 485, '5')
{'name': 'piyumal', 'age': '25'}

In [ ]:
def funn_e(a,b,c,d):
  print("a : ",a)
  print("b : ",b)
  print("c : ",c)
  print("d : ",d)

funn_e(2,4,6,3)

a :  2
b :  4
c :  6
d :  3

In [ ]:
def funn_e(a=0,b=0,c=0,d=0):
  print("a : ",a)
  print("b : ",b)
  print("c : ",c)
  print("d : ",d)

funn_e(d=10)

a :  0
b :  0
c :  0
d :  10

In [ ]:
funn_e(3,40,d=10)

a :  3
b :  40
c :  0
d :  10

In [2]:
def funn_f(a=0,b=0,c=0,d=0,*args,**kwargs):
  print("a : ",a)
  print("b : ",b)
  print("c : ",c)
  print("d : ",d)
  print("args : ",args)
  print("kwargs : ",kwargs)

funn_f(d=10)

a :  0
b :  0
c :  0
d :  10
args :  ()
kwargs :  {}

In [7]:
funn_f(10,2,3,4,3,2,name="kamal")

a :  10
b :  2
c :  3
d :  4
args :  (3, 2)
kwargs :  {'name': 'kamal'}

In [8]:
funn_f(d=10,ab=2,name="kamal")

a :  0
b :  0
c :  0
d :  10
args :  ()
kwargs :  {'ab': 2, 'name': 'kamal'}

-----
## inner funtion
-----

In [9]:
def A():
  print("a")

  def B():
    print("b")

A()

a

In [10]:
#don't this access
A().B()

a

AttributeError: 'NoneType' object has no attribute 'B'

In [11]:
#access karanna puluvan palaveni vidiha
def A():
  print("a")

  def B():
    print("b")

  B()

A()

a
b

In [13]:
#access karanna puluvan deveni vidiha
def A():
  print("a")

  def B():
    print("b")

  return B

A()

a

In [14]:
#Wront option
A().B()

a

AttributeError: 'function' object has no attribute 'B'

In [15]:
A()()

a
b

In [16]:
def A():
  print("a")

  def B():
    print("b")

    def C():
      print("c")

    return C

  return B

A()

a

In [18]:
A()()

a
b

In [19]:
A()()()

a
b
c

In [21]:
def A(x,y):

  def B():
    return x+y

  return B

A(10,20)()

30

In [27]:
import datetime

def hellow_1():
  print(datetime.datetime.now(), end=" : ")
  print("hellow_1")

def hellow_2():
  print(datetime.datetime.now(), end=" : ")
  print("hellow_2")


hellow_1()
hellow_2()

2024-01-17 17:54:54.616222 : hellow_1
2024-01-17 17:54:54.616907 : hellow_2

In [30]:
import datetime

def log(func):

  def wrapper():
    print(datetime.datetime.now(), end=" : ")
    func()

  return wrapper

def hellow_1():
  print("hellow_1")

def hellow_2():
  print("hellow_2")


log(hellow_1)()
log(hellow_2)()

2024-01-17 17:59:23.185140 : hellow_1
2024-01-17 17:59:23.185692 : hellow_2

In [34]:
x1=log(hellow_1)
x1()

2024-01-17 18:03:16.297551 : hellow_1

  # @ annotaion

In [39]:
import datetime

def log(func):

  def wrapper():
    print(datetime.datetime.now(), end=" : ")
    func()

  return wrapper

@log
def hellow_1():
  print("hellow_1")

@log
def hellow_2():
  print("hellow_2")



hellow_1()
hellow_2()

2024-01-17 18:07:43.823308 : hellow_1
2024-01-17 18:07:43.825772 : hellow_2

@log ==>  

      m1=log(hellow_1)
      m1()

----
# exeption
----

In [40]:
#ZeroDivisionError exeption
a=10/0

ZeroDivisionError: division by zero

In [41]:
try:
  a=10/0
except:
  print("Invalied Oparation..!")

Invalied Oparation..!

In [42]:
try:
  a=10/0
except Exception as e:
  print("Invalied Oparation..!",e)

Invalied Oparation..! division by zero

In [43]:
def test(a,b):
  return a/b

test(10,0)

ZeroDivisionError: division by zero

In [46]:
def test(a,b):
  try:
    return a/b
  except Exception as e:
    return "Invalied Oparation..!",e

test(10,0)

('Invalied Oparation..!', ZeroDivisionError('division by zero'))

In [56]:
def Exeption_handle(func):

  def wrapper(a,b):
    try:
      return func(a,b)
    except Exception as e:
      return "Invalied Oparation..!",e

  return wrapper

@Exeption_handle
def test(a,b):
  return a/b

test(10,0)

('Invalied Oparation..!', ZeroDivisionError('division by zero'))

In [57]:
@Exeption_handle
def test(a,b,c):
  return (a/b)/c

#argument ganana vadi
test(10,2,3)

TypeError: Exeption_handle.<locals>.wrapper() takes 2 positional arguments but 3 were given

In [64]:
def Exeption_handle(func):

  def wrapper(*args,**kwargs):
    try:
      return func(*args,**kwargs)
    except Exception as e:
      return "Invalied Oparation..!",e

  return wrapper

@Exeption_handle
def test(a,b,c):
  return (a/b)/c

print(test(10,0,0))
print(test(10,2,5))

('Invalied Oparation..!', ZeroDivisionError('division by zero'))
1.0